/*
 * ROOTs
 */
 
#boardRoot {
	-fx-background-image: url("landscape.jpg");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover, auto;
	-fx-max-height: 650;
}

#boxes {
	-fx-alignment: center;
}

/*
 * LABELs
 */

#handLabel {
	-fx-background-color: darkslategrey;
	-fx-border-radius: 1.30px;
	-fx-background-radius: 1.30px;
	-fx-opacity: 1;
	-fx-alignment: top_center;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-size: 15;
	-fx-pref-height: 200;
	-fx-pref-width: 550;
}
#phaseLabels {
	-fx-background-color: yellow;
	-fx-border-radius: 1.30px;
	-fx-background-radius: 1.30px;
	-fx-opacity: 0.2;
	-fx-text-alignment: center;
	-fx-alignment: center;
	-fx-font-weight: bold;
	-fx-font-size: 12;
	-fx-pref-height: 40;
	-fx-pref-width: 100;
}


/*
 * TEXT-AREAs
 */
 
.text-area {
	-fx-pref-width: 1.360px;
	-fx-pref-height: 300px;
	-fx-background-color: transparent;
	-fx-text-fill: black;
	-fx-font-weight: bold;
	-fx-font-size: 15;
	-fx-wrap-text: true;
}
.text-area .viewport {
    -fx-opacity: 0.7;
}
#playerStats {
	-fx-pref-width: 1.360px;
	-fx-pref-height: 300px;
	-fx-background-color: transparent;
	-fx-text-fill: black;
	-fx-font-weight: bold;
	-fx-font-size: 15;
	-fx-wrap-text: true;
}
#playerStats .viewport {
    -fx-opacity: 0.7;
}

/*
 * TEXT-FIELD
 */ 


/*
 * BUTTONS
 */ 

#endBtn {
	-fx-background-color: red;
	-fx-border-width: 2.5;
	-fx-border-color:black;
	-fx-border-radius: 4;
	-fx-border-insets: -2;
	-fx-pref-height: 40;
}
#endBtn:hover {
	-fx-background-color: darkred;
}

#btn {
	-fx-background-color: orange;
	-fx-border-width: 2.5;
	-fx-border-color:black;
	-fx-border-radius: 4;
	-fx-border-insets: -2;
	-fx-pref-height: 40;
}
#btn:hover {
	-fx-background-color: orangered;
}
 
/*
 * CARDS (BUTTONS)
 */

#goldenBorder {
	-fx-border-color: darkred;
	-fx-border-width: 5px;
	-fx-border-insets: -2px;
}

#copper {
	-fx-background-image: url("copper.jpg");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover, auto;
	-fx-pref-height: 145px;
    -fx-pref-width: 90px;
    -fx-background-color: transparent;
    -fx-opacity: 0.7;
}
#copper:hover{
	-fx-opacity: 1;
    -fx-cursor: hand;
    -fx-border-insets: -5;
    -fx-border-radius: 5;
    -fx-border-width: 6;
    -fx-border-color: goldenrod;
}
#duchy {
	-fx-background-image: url("duchy.jpg");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover, auto;
	-fx-pref-height: 145px;
    -fx-pref-width: 90px;
    -fx-background-color: transparent;
    -fx-opacity: 0.7;
}
#duchy:hover{
	-fx-opacity: 1;
    -fx-cursor: hand;
    -fx-border-insets: -5;
    -fx-border-radius: 5;
    -fx-border-width: 6;
    -fx-border-color: dodgerblue;
}
#estate {
	-fx-background-image: url("estate.jpg");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover, auto;
	-fx-pref-height: 145px;
    -fx-pref-width: 90px;
    -fx-background-color: transparent;
    -fx-opacity: 0.7;
}
#estate:hover{
	-fx-opacity: 1;
    -fx-cursor: hand;
    -fx-border-insets: -5;
    -fx-border-radius: 5;
    -fx-border-width: 6;
    -fx-border-color: dodgerblue;
}
#funfair {
	-fx-background-image: url("funfair.jpg");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover, auto;
	-fx-pref-height: 145px;
    -fx-pref-width: 90px;
    -fx-background-color: transparent;
    -fx-opacity: 0.7;
}
#funfair:hover{
	-fx-opacity: 1;
    -fx-cursor: hand;
    -fx-border-insets: -5;
    -fx-border-radius: 5;
    -fx-border-width: 6;
    -fx-border-color: darkcyan;
}
#gold {
	-fx-background-image: url("gold.jpg");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover, auto;
	-fx-pref-height: 145px;
    -fx-pref-width: 90px;
    -fx-background-color: transparent;
    -fx-opacity: 0.7;
}
#gold:hover{
	-fx-opacity: 1;
    -fx-cursor: hand;
    -fx-border-insets: -5;
    -fx-border-radius: 5;
    -fx-border-width: 6;
    -fx-border-color: goldenrod;
}
#laboratory {
	-fx-background-image: url("laboratory.jpg");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover, auto;
	-fx-pref-height: 145px;
    -fx-pref-width: 90px;
    -fx-background-color: transparent;
    -fx-opacity: 0.7;
}
#laboratory:hover{
	-fx-opacity: 1;
    -fx-cursor: hand;
    -fx-border-insets: -5;
    -fx-border-radius: 5;
    -fx-border-width: 6;
    -fx-border-color: darkcyan;
}
#market {
	-fx-background-image: url("market.jpg");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover, auto;
	-fx-pref-height: 145px;
    -fx-pref-width: 90px;
    -fx-background-color: transparent;
    -fx-opacity: 0.7;
}
#market:hover{
	-fx-opacity: 1;
    -fx-cursor: hand;
    -fx-border-insets: -5;
    -fx-border-radius: 5;
    -fx-border-width: 6;
    -fx-border-color: darkcyan;
}
#province {
	-fx-background-image: url("province.jpg");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover, auto;
	-fx-pref-height: 145px;
    -fx-pref-width: 90px;
    -fx-background-color: transparent;
    -fx-opacity: 0.7;
}
#province:hover{
	-fx-opacity: 1;
    -fx-cursor: hand;
    -fx-border-insets: -5;
    -fx-border-radius: 5;
    -fx-border-width: 6;
    -fx-border-color: dodgerblue;
}
#silver {
	-fx-background-image: url("silver.jpg");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover, auto;
	-fx-pref-height: 145px;
    -fx-pref-width: 90px;
    -fx-background-color: transparent;
    -fx-opacity: 0.7;
}
#silver:hover{
	-fx-opacity: 1;
    -fx-cursor: hand;
    -fx-border-insets: -5;
    -fx-border-radius: 5;
    -fx-border-width: 6;
    -fx-border-color: goldenrod;
}
#smith {
	-fx-background-image: url("smith.jpg");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover, auto;
	-fx-pref-height: 145px;
    -fx-pref-width: 90px;
    -fx-background-color: transparent;
    -fx-opacity: 0.7;
}
#smith:hover{
	-fx-opacity: 1;
    -fx-cursor: hand;
    -fx-border-insets: -5;
    -fx-border-radius: 5;
    -fx-border-width: 6;
    -fx-border-color: darkcyan;
}
#village {
	-fx-background-image: url("village.jpg");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover, auto;
	-fx-pref-height: 145px;
    -fx-pref-width: 90px;
    -fx-background-color: transparent;
    -fx-opacity: 0.7;
}
#village:hover{
	-fx-opacity: 1;
    -fx-cursor: hand;
    -fx-border-insets: -5;
    -fx-border-radius: 5;
    -fx-border-width: 6;
    -fx-border-color: darkcyan;
}
#woodcutter {
	-fx-background-image: url("woodcutter.jpg");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover, auto;
	-fx-pref-height: 145px;
    -fx-pref-width: 90px;
    -fx-background-color: transparent;
	-fx-opacity: 0.7;
}
#woodcutter:hover{
	-fx-opacity: 1;
    -fx-cursor: hand;
    -fx-border-insets: -5;
    -fx-border-radius: 5;
    -fx-border-width: 6;
    -fx-border-color: darkcyan;
}
#woodcutter:pressed {
	-fx-effect: dropshadow(three-pass-box, yellow, 10, 0, 0, 0);
	
}

#back {
	-fx-background-image: url("Rückseite.jpg");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover, auto;
	-fx-pref-height: 145px;
    -fx-pref-width: 90px;
    -fx-background-color: transparent;
}
