/*
 * ROOTs
 */
 
#boardRoot {
	-fx-background-image: url("landscape.jpg");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover, auto;
	-fx-max-height: 650;
}

#boxes {
	-fx-alignment: center;
}

/*
 * LABELs
 */

#handLabel {
	-fx-background-color: darkslategrey;
	-fx-border-radius: 20px;
	-fx-background-radius: 20px;
	-fx-opacity: 1;
	-fx-alignment: top_center;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-size: 15;
	-fx-pref-height: 180;
	-fx-pref-width: 550;
}
#phaseLabels {
	-fx-background-color: yellow;
	-fx-border-radius: 20px;
	-fx-background-radius: 20px;
	-fx-opacity: 0.5;
	-fx-text-alignment: center;
	-fx-alignment: center;
	-fx-font-weight: bold;
	-fx-font-size: 15;
	-fx-pref-height: 40;
	-fx-pref-width: 82;
}


/*
 * TEXT-AREAs
 */
 
.text-area {
	-fx-pref-width: 260px;
	-fx-pref-height: 300px;
	-fx-background-color: transparent;
	-fx-text-fill: black;
	-fx-font-weight: bold;
	-fx-font-size: 15;
	-fx-wrap-text: true;
}
.text-area .viewport {
    -fx-opacity: 0.3;
}
#playerStats {
	-fx-pref-width: 260px;
	-fx-pref-height: 300px;
	-fx-background-color: transparent;
	-fx-text-fill: black;
	-fx-font-weight: bold;
	-fx-font-size: 15;
	-fx-wrap-text: true;
}
#playerStats .viewport {
    -fx-opacity: 0.3;
}

/*
 * TEXT-FIELD
 */ 


/*
 * BUTTONS
 */ 
 
 
/*
 * CARDS (BUTTONS)
 */


#copper {
	-fx-background-image: url("copper.jpg");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover, auto;
	-fx-pref-height: 130px;
    -fx-pref-width: 82px;
    -fx-background-color: transparent;
}
#copper:hover{
    -fx-scale-x: 1.6;
    -fx-scale-y: 1.6;
    -fx-scale-z: 1.6;
}
#duchy {
	-fx-background-image: url("duchy.jpg");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover, auto;
	-fx-pref-height: 130px;
    -fx-pref-width: 82px;
    -fx-background-color: transparent;
}
#duchy:hover{
    -fx-scale-x: 1.6;
    -fx-scale-y: 1.6;
    -fx-scale-z: 1.6;
}
#estate {
	-fx-background-image: url("estate.jpg");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover, auto;
	-fx-pref-height: 130px;
    -fx-pref-width: 82px;
    -fx-background-color: transparent;
}
#estate:hover{
    -fx-scale-x: 1.6;
    -fx-scale-y: 1.6;
    -fx-scale-z: 1.6;
}
#funfair {
	-fx-background-image: url("funfair.jpg");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover, auto;
	-fx-pref-height: 130px;
    -fx-pref-width: 82px;
    -fx-background-color: transparent;
}
#funfair:hover{
    -fx-scale-x: 1.6;
    -fx-scale-y: 1.6;
    -fx-scale-z: 1.6;
}
#gold {
	-fx-background-image: url("gold.jpg");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover, auto;
	-fx-pref-height: 130px;
    -fx-pref-width: 82px;
    -fx-background-color: transparent;
}
#gold:hover{
    -fx-scale-x: 1.6;
    -fx-scale-y: 1.6;
    -fx-scale-z: 1.6;
}
#laboratory {
	-fx-background-image: url("laboratory.jpg");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover, auto;
	-fx-pref-height: 130px;
    -fx-pref-width: 82px;
    -fx-background-color: transparent;
}
#laboratory:hover{
    -fx-scale-x: 1.6;
    -fx-scale-y: 1.6;
    -fx-scale-z: 1.6;
}
#market {
	-fx-background-image: url("market.jpg");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover, auto;
	-fx-pref-height: 130px;
    -fx-pref-width: 82px;
    -fx-background-color: transparent;
}
#market:hover{
    -fx-scale-x: 1.6;
    -fx-scale-y: 1.6;
    -fx-scale-z: 1.6;
}
#province {
	-fx-background-image: url("province.jpg");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover, auto;
	-fx-pref-height: 130px;
    -fx-pref-width: 82px;
    -fx-background-color: transparent;
}
#province:hover{
    -fx-scale-x: 1.6;
    -fx-scale-y: 1.6;
    -fx-scale-z: 1.6;
}
#silver {
	-fx-background-image: url("silver.jpg");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover, auto;
	-fx-pref-height: 130px;
    -fx-pref-width: 82px;
    -fx-background-color: transparent;
}
#silver:hover{
    -fx-scale-x: 1.6;
    -fx-scale-y: 1.6;
    -fx-scale-z: 1.6;
}
#smith {
	-fx-background-image: url("smith.jpg");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover, auto;
	-fx-pref-height: 130px;
    -fx-pref-width: 82px;
    -fx-background-color: transparent;
}
#smith:hover{
    -fx-scale-x: 1.6;
    -fx-scale-y: 1.6;
    -fx-scale-z: 1.6;
}
#village {
	-fx-background-image: url("village.jpg");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover, auto;
	-fx-pref-height: 130px;
    -fx-pref-width: 82px;
    -fx-background-color: transparent;
}
#village:hover{
    -fx-scale-x: 1.6;
    -fx-scale-y: 1.6;
    -fx-scale-z: 1.6;
}
#woodcutter {
	-fx-background-image: url("woodcutter.jpg");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover, auto;
	-fx-pref-height: 130px;
    -fx-pref-width: 82px;
    -fx-background-color: transparent;
}
#woodcutter:hover{
    -fx-scale-x: 1.6;
    -fx-scale-y: 1.6;
    -fx-scale-z: 1.6;
}
