.hboxBottom {
	-fx-spacing: 10px;
}

.topBox {
	-fx-padding: 10px 40px 10px 40px;
	-fx-spacing: 10px;
	-fx-alignment: center;
}

#rightBox {
	-fx-padding: 50px 50px 50px 50px;
	-fx-spacing: 5px;
	-fx-alignment: center;
}

#lblLobby{
	-fx-text-fill: black; 
	-fx-font-weight: bold;
	-fx-font-size: 40; 
	-fx-alignment: center;
}

#lbl {
	-fx-text-fill: black; 
	-fx-font-weight: bold;
	-fx-font-size: 20; 
}

.btn {
	-fx-min-height: 40px;
	-fx-min-width: 150px;
}

.mainPane {
	-fx-background-image:url("castle_landscape.jpg");
	-fx-background-repeat: stretch, no-repeat;
	-fx-background-position: center center;
	-fx-background-size: cover, auto;
}

.text-area {
	-fx-background-color: /*rgba(119, 99, 66, 0.4)*/ rgba(255, 255, 255, 0.4);
	-fx-font-size: 14px;	
}

.text-area .scroll-pane .viewport{
	-fx-background-color: transparent;
	
}

.text-area .scroll-pane .content{
	-fx-background-color: transparent;
	
}

