#mainPane {
	-fx-background-image: url("LoginBackground.jpg");
	-fx-background-position: center; 
	-fx-background-size: cover, auto;
}


#welcomeLbl{
	-fx-text-fill: yellow; 
	-fx-font-size: 30; 
	
}